.box{
  flex:auto;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  place-content: start;
  background-color: rgb(51, 45, 45);
  overflow: auto;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 1rem;
  gap: 1rem;
  border-radius: 1rem;
  
}

.first {
  background-image: url('./img/event.png');
  background-position: center;
  background-size:contain ;
}
.second {
  background-image: url('./img/movie.png');
}